html * {
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
}

.header {
    display:flex;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    color:#F9FAF8;
    margin: 20px 200px;
    font-weight: bold;
}

.header-link {
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px;   
    gap: 20px;
    padding-right: 200px;
}

.hero-main-text{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8; 
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-text{
    margin: 200px;
    flex:1
}
.break {
    flex-basis: 100%;
    height: 0;
}

button{
    background-color:#3882F6;
    color:white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}

.bordered{
    border:none;
    border-radius: 12px;
}

.image-placeholder{
    display: flex;
    flex: 1;
    background-color: gray;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.information-header{
    flex:1;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.information-subtext{
    display: flex;
    flex-wrap: wrap;
}

.quote-section{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 40px;
    padding: 150px 200px 0;
}

.quote-author{
    font-size: 24px;
    align-self:flex-end;
    font-weight: bold;
    padding-right: 200px;
}

.call-to-action{
    display:flex;
    background-color: #3882F6;
    height: 100px;
    width: 800px;
    margin: 100px auto;
}

.call-to-action-text{
    align-self: center;
}